.task-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  min-height: 56px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
}
.task-container .radio-buttom {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-self: center;
  height: 16px;
  width: 16px;
  /* background-color: aliceblue; */
  margin: 0 12px 0 16px;
  border-radius: 16px;
  /* border: 1px solid rgb(78, 78, 78); */
  background-color: rgb(240, 240, 240);
}
.task-container .delete {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 36px;
  height: 36px;
  background: transparent;
  
  margin: 2px;
}
.task-container .delete :hover {
  color: red;
}
.trash-icon {
  align-self: center;
  cursor: pointer;
}
.task-container :is( :hover ).radio-buttom::before {
  content: "";
  display: flex;
  align-self: center;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: rgb(23,125,250); 
} 
.task-container :is( :hover ).radio-buttom {
  outline: 2px solid rgb(23,125,250);
  /* border: 2px solid rgb(51,85,179); */
} 
.containerText {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: 500;
  line-height: 24px;
  word-spacing: 8px ;
  overflow: hidden;
  width: 82%;
}
.task-container .true::before  {
 /* background-color: coral !important; */
 content: "";
 display: flex;
 align-self: center;
 width: 8px;
 height: 8px;
 border-radius: 8px;

 background-color: rgb(23,125,250);
 
}

.true + .containerText {
  text-decoration: line-through 1px rgb(10, 10, 10);
}