.main-container {
  align-items: center;
  background-color: blueviolet;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.main-container .to-do-container {
  align-items: center;
  background-color:white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  width: min(80vw, 600px);
}
.main-container .to-do-container .title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 24px;
  text-align: center;
}